body{
    background-color: skyblue;
    margin: 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    background-color: rgb(64, 123, 132);
    font-size: 1.2rem;
    color: whitesmoke;
}

main{
    font-size: 1rem;
}

.fullPic-container{
    background-color: rgb(29, 29, 79);
    background-size: contain; 
    background-repeat: no-repeat; 
    margin: 2% auto;
    width: 300px; height: 400px;
    background-position: center;
}

img{
    height: 7em;
    cursor: pointer;
    margin: 0 1% 0 1%;
}